---
- name: Add SSH public key to ansible users
  hosts: my_hosts
  become: true
  gather_facts: false

  vars:
    ansible_server_username: username
    ansible_client_username: username

  tasks:
    - name: Add SSH public key to authorized_keys
      authorized_key:
        user: "{{ ansible_client_username }}"
        state: present
        key: "{{ lookup('file', '/home/' + ansible_server_username + '/.ssh/id_ed25519.pub') }}"
