- name: Upgrade all packages on hosts
  hosts: gepeim
  become: true
  serial: 2

  tasks:
    - name: Update APT package cache
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: dist
        autoremove: yes
        autoclean: yes
